.App {
  margin: 0 auto 0 auto;

}

.col-sm-4 {
  text-align: center;
}

.jumbotron-text-center {
  background-color: gray;
  border: wheat solid 1px;
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}